<div class="learrner-edit">
  <div class="container">
    <div class="row">

      <div class="col-xs-10 col-xs-offset-1 learner-edit-form">

        <h2 class="learner-edit-title">edit profile</h2>

      <%= form_for(@learner) do |f| %>

      <!-- エラーメッセージ -->
          <% if @learner.errors.any? %>
            <div class="error_explanation">
              <h3><%= @learner.errors.count %>error prohibited this obj from being saved:</h3>
              <ul>
                <% @learner.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

      <div class="row">

        <div class="col-xs-6 edit-left">

          <div class="edit-profile-image">
            <p class="edit-font">Profile Image</p>
            <%= attachment_image_tag @learner, :profile_image, :fill, 300, 150, fallback: "no_image.jpg", size: '300x200', onClick: "$('.profile-image-form').click()", class: "image img-responsive img_prev" %>
            <%= f.file_field :profile_image, class: "profile-image-form", style: "display: none;" %>
          </div>

        </div>

        <div class="col-xs-6 edit-right">

          <div class="edit-nickname">
            <p class="edit-font">Nickname</p>
            <%= f.text_field :nickname %>
          </div>

          <div class="edit-intro">
            <p class="edit-font">introduction</p>
            <%= f.text_area :introduction %>
          </div>

          <div class="edit-country">
            <p class="edit-font">country</p>
            <%= f.country_select :country, { include_blank: 'please select'}, class: "select-style" %>
          </div>

          <div class="edit-learning">
            <p class="edit-font">learning</p>
            <%= f.select :learning, Learner.learnings.keys.to_a %>
          </div>

          <div class="edit-native">
            <p class="edit-font">native</p>
            <%= f.select :native, { 'Japanese': 'Japanese' , 'English': 'English' , 'Spanish': 'Spanish' , 'German': 'German' , 'French': 'French' , 'Italian': 'Italian' } %>
          </div>



        </div>

        <div class="edit-update">
            <%= f.submit "Update", class: "btn btn-block btn-success" %>
          </div>

      </div>
      <% end %>

      </div>

    </div>
  </div>
</div>