<div class="container-fluid">
  <div class="row learner">
    <div class="col-lg-10 col-lg-offset-1">

      <table class="table table-hover learners-index">
        <thead>
          <tr>
            <th></th>
            <th>nickname</th>
            <th>country</th>
            <th>learning</th>
            <th>native</th>
            <th>follower</th>
          </tr>
        </thead>

        <tbody>
          <% @learners.each do |learner| %>
          <tr>
            <td><%= attachment_image_tag learner, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", size: '80x80', class: "img-circle pull-left profile-thumb" %></td>
            <td>
              <%= link_to learner_path(learner) do %>
                <%= learner.nickname %>
              <% end %>
            </td>
            <td><%= learner.country %></td>
            <td><%= learner.learning %></td>
            <td><%= learner.native %></td>
            <td>followers.count</td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>