<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <table class="table table-striped">

        <tr>
          <th>
            <%= attachment_image_tag @learner, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
          </th>
          <th>
      	    <%= @learner.nickname %>
          </th>
        </tr>

        <tr>
          <th>
            <p>country</p>
          </th>
          <th>
      	    <%= @learner.country %>
         </th>
        </tr>

        <tr>
          <th>
            <p>native</p>
          </th>
         <th>
      	   <%= @learner.native %>
         </th>
        </tr>

        <tr>
          <th>
            <p>introduction</p>
          </th>
          <th>
      	    <%= @learner.introduction %>
          </th>
        </tr>

      </table>

    </div>
  </div>
</div>
