<section class="learner-info center-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 learner-block">

        <!-- learner image/nickname -->
        <div class="learner-image">
          <%= attachment_image_tag @learner, :profile_image, :fill, 200, 200, fallback: "no_image.jpg", class: "img-circle" %>
          <p class="learner-nickname"><%= @learner.nickname %></p>
        </div>
        <!-- // -->

        <!-- country -->
        <div class="row country">
          <div class="col-xs-4 col-xs-offset-2">
            <p class="info-item">Country</p>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-3">
            <span><%= @learner.country %></span>
          </div>
        </div>
        <!-- // -->

        <!-- native -->
        <div class="row native">
          <div class="col-xs-4 col-xs-offset-2">
            <p class="info-item">Native</p>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-3">
            <span><%= @learner.native %></span>
          </div>
        </div>
        <!-- // -->

        <!-- learning -->
        <div class="row learning">
          <div class="col-xs-4 col-xs-offset-2">
            <p class="info-item">Learning</p>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-3">
            <span><%= @learner.learning %></span>
          </div>
        </div>
        <!-- // -->

        <!-- introduction -->
        <div class="row intro">
          <div class="col-xs-4 col-xs-offset-2">
            <p class="info-item">Introduction</p>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-3"></div>
        </div>

        <div class="row intro-detail">
          <div class="col-xs-10 col-xs-offset-2">
             <span><%= @learner.introduction %></span>
          </div>
        </div>
        <!-- // -->

        <div class="row link">

            <!-- 学習者編集/フォローボタン -->
            <div class="col-xs-4">
              <% if @learner.id == current_learner.id %>
                <%= link_to 'Edit', edit_learner_path(@learner), class: "btn btn-block btn-success" %>
              <% else %>
                <% if current_learner.following?(@learner) %>
                  <%= link_to 'unfollow', unfollow_path(@learner), method: :post, class: "btn btn-block btn-info" %>
                <% else %>
                  <%= link_to 'follow', follow_path(@learner), method: :post, class: "btn btn-block btn-danger" %>
                <% end %>
              <% end %>
            </div>

            <div class=col-xs-4>
              <%= link_to 'following', learner_following_path(@learner), class: "btn btn-block btn-primary" %>
            </div>
            <!-- // -->

            <!-- フォローボタン -->
            <div class="col-xs-4">
              <%= link_to 'follower', learner_follower_path(@learner), class: "btn btn-block btn-warning" %>
            </div>
            <!-- // -->

        </div>


        <!-- // -->


      </div>
    </div>
  </div>
</section>
