<section class="slice sct-color-1">
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 edit-form">

      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 edit-box">
          <div class="section-title-wrapper">
          	<h3 class="section-title">
          	  <span>Edit Post</span>
          	</h3>
          </div>

          <%= form_for(@post) do |f| %>

          <!-- エラーメッセージ -->
        <div class="col-xs-12 error-box">
          <% if @post.errors.any? %>
            <div class="error_explanation">
              <h3><%= @post.errors.count %>error prohibited this obj from being saved:</h3>
		      <ul class="error-color">
		        <% @post.errors.full_messages.each do |message| %>
			      <li><%= message %></li>
			    <% end %>
		      </ul>
	        </div>
	        <% end %>
        </div>

          <!-- 画像登録フォーム -->
          <div class="row">
            <div class="col-xs-7">
              <div class="post-image">
                <%= f.attachment_field :image %>
              </div>
            </div>
          </div>
          <br>

          <!-- ジャンル選択フォーム -->
          <div class="row">
            <div class="col-xs-12">
              <div class="edit-post-genre">
                <%= f.radio_button :genre, :true, checked: true %>
                <%= f.label :genre, "question" %>
                <%= f.radio_button :genre, :false %>
                <%= f.label :genre, "tweet" %>
              </div>
            </div>
          </div>
          <!-- // -->


          <!-- タイトル入力フォーム -->
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
              <div class="edit-title-form">
                <%= f.text_field :title, class: "form-control", placeholder: "title" %>
              </div>
            </div>
          </div>
          <br>

          <!-- 本文入力フォーム -->
          <div class="row">
          	<div class="col-xs-12">
              <div class="edit-body">
                <%= f.text_area :body, class: "form-control", rows:"3", placeholder: "body" %>
              </div>
            </div>
          </div>
   		  <hr>

          <!-- 送信 -->
            <%= f.submit 'Update', class: "btn btn-block btn-success btn-base-1 mt-20" %>


          <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>