<header class="navbar navbar-fixed-top navbar-inverse", style="background-color: rgba(0, 0, 0, 0.5);">


    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    <div class="header-logo">
      <%= link_to root_path do %>
        <h2 class="logo">HELLO WORLD</h2>
      <% end %>
    </div>

    </div>

    <nav>
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
        <% if learner_signed_in? %>
  	      <li><%= link_to 'My Page', learner_path(current_learner), class: "header-list-item" %></li>
  	      <li><%= link_to 'Post New', new_post_path, class: "header-list-item" %></li>
  	      <li><%= link_to 'Moments', posts_path, class: "header-list-item" %></li>
  	      <li><%= link_to 'Learners', learners_path, class: "header-list-item" %></li>
  	      <li><%= link_to 'Sign Out', destroy_learner_session_path, method: :delete, class: "header-list-item" %></li>
  	    <% else %>
          <li><%= link_to 'About', homes_about_path, class: "header-list-item" %></li>
          <li><%= link_to 'Learners', learners_path, class: "header-list-item" %></li>
          <li><%= link_to 'Sign Up', new_learner_registration_path, class: "header-list-item" %></li>
          <li><%= link_to 'Log In', new_learner_session_path, class: "header-list-item" %></li>
        <% end %>
      </ul>
    </nav>

  
</header>
